{% extends "base.html" %}
{% block content %}
<h1>Update task</h1>

<form method="post" action="{{base_path}}/task/{{attributes.id}}/edit">

    <div class="form-group">
        <label>Name:</label>
        <input type="text" name="name" class="form-control" value = "{{attributes.name}}">
    </div>
    <div class="form-group">
        <label>Description:</label>
        <input type="text" name="description" class="form-control" value = "{{attributes.description}}">
    </div>
    <div class="form-group">
        <label>Deadline</label>
        <input type="date" name="deadline" class="form-control" value = "{{attributes.deadline}}">
    </div>

    <div class="form-group">
        <label>Share with other users: </label>
        <select class="form-control" name="users[]" multiple="">
            {% for user in users %}
            <option value="{{user.id}}">{{user.username}}</option>
            {% endfor %}
        </select>
        <label>
            Already shared with: 
            {% for user in shared_with %}
            {{user.username}}
            {% endfor %}
        </label>
    </div>

     

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-primary" href="{{base_path}}/main">Cancel</a>
    </div>
</form>

{% endblock %}