{% extends "base.html" %}
{% block content %}

<!-- Tämä on vain suunnitelma näkymän hahmottelemiseksi, ei tule olemaan osana lopullista sovellusta -->

<h1>To do (Venla)</h1>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Kotihommat
                <a class="btn btn-default btn-sm" href="{{base_path}}/class">Muokkaa</a>
                <a class="btn btn-default btn-sm" href="#">Poista luokka</a>
            </th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan tehtävät tähän -->
        <tr>
            <td>Pese uuni
                <a class="btn btn-default btn-sm" href="{{base_path}}/todo">Näytä/Muokkaa</a>
                <a class="btn btn-default btn-sm" href="#">Tehty!</a>
            </td>
        </tr>
    </tbody>
</table>
<table class="table table-striped table-bordered">    
    <thead>
        <tr>
            <th>Kouluhommat
                <a class="btn btn-default btn-sm" href="#">Näytä/Muokkaa</a>
                <a class="btn btn-default btn-sm" href="#">Poista luokka</a>
            </th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan tehtävät tähän -->
        <tr>
            <td>Tentti           
                <a class="btn btn-default btn-sm" href="#">Muokkaa</a>
                <a class="btn btn-default btn-sm" href="#">Tehty!</a>            
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}