{% extends "base.html" %}
{% block content %}

<!-- Tämä on vain suunnitelma näkymän hahmottelemiseksi, ei tule olemaan osana lopullista sovellusta -->

<h1>Lisää tehtävä</h1>

<form>

    <div class="form-group">
        <label>Nimi: *</label>
        <input type="text" class="form-control" value="Tentti">
    </div>
    <div class="form-group">
        <label>Kuvaus:</label>
        <input type="text" class="form-control" value="Todari 1 yleistentti">
    </div>
    <div class="form-group">
        <label>Deadline</label>
        <input type="text" class="form-control" value="2018-01-10">
    </div>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Jaa muille käyttäjille
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Veera</a></li>
            <li><a href="#">Viljami</a></li>
        </ul>
    </div>
    <div class="form-group">
        <label>Jaettu seuraaville: Viljami
        </label>
    </div>   
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}
