{% extends "base.html" %}
{% block content %}
<h1>Muokkaa tehtävää</h1>

<form>

    <div class="form-group">
        <label>Nimi: *</label>
        <input type="text" class="form-control" value="{{base_path}}/tehtava/{{tehtava.id}}">{{tehtava.nimi}}>
    </div>
    <div class="form-group">
        <label>Kuvaus:</label>
        <input type="text" class="form-control" value="{{base_path}}/tehtava/{{tehtava.id}}">{{tehtava.kuvaus}}>
    </div>
    <div class="form-group">
        <label>Deadline</label>
        <input type="text" class="form-control" value="{{base_path}}/tehtava/{{tehtava.id}}">{{tehtava.deadline}}>
    </div>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Jaa muille käyttäjille
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">Veera</a></li>
            <li><a href="#">Viljami</a></li>
        </ul>
    </div>
    <div class="form-group">
        <label>Jaettu seuraaville: Viljami
        </label>
    </div>   
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}