{% extends "base.html" %}
{% block content %}
<h1>Lisää tehtävä</h1>

<form method="post" action="{{base_path}}/tehtava/new">

    <div class="form-group">
        <label>Nimi:</label>
        <input type="text" name="nimi" class="form-control">
    </div>
    <div class="form-group">
        <label>Kuvaus:</label>
        <input type="text" name="kuvaus" class="form-control">
    </div>
    <div class="form-group">
        <label>Deadline</label>
        <input type="date" name="deadline" class="form-control">
    </div>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Jaa muille käyttäjille
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="#">Veera</a></li>
            <li><a href="#">Viljami</a></li>
        </ul>
    </div>
    <div class="form-group">
        <label>Jaettu seuraaville: Viljami (Toiminnallisuus lisätään myöhemmin)
        </label>
    </div>   
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}

